body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
}
main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding-top: 50px; /* Add space from the header */
}

.team-details {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.team-details-heading {
    margin-top: 0;
    font-size: 24px;
}

.team-details-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-form label {
    display: block;
    margin-bottom: 5px;
}

.team-form input[type="text"],
.team-form input[type="number"],
.team-form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.team-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.team-form button:hover {
    background-color: #0056b3;
}
